/* Webfont: Lato-Black */

@font-face {
    font-family: 'LatoBlack';
    src: url('fonts/Lato-Black.eot');
    /* IE9 Compat Modes */
    src: url('Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Lato-Black.woff2') format('woff2'), /* Modern Browsers */
    url('Lato-Black.woff') format('woff'), /* Modern Browsers */
    url('Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Medium */

@font-face {
    font-family: 'LatoMedium';
    src: url('Lato-Medium.eot');
    /* IE9 Compat Modes */
    src: url('Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('Lato-Medium.woff') format('woff'), /* Modern Browsers */
    url('Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Museo-500 */

@font-face {
    font-family: 'Museo-500';
    src: url('Museo500-Regular.otf');
}


/* Webfont: Lato-Heavy */

@font-face {
    font-family: 'LatoHeavy';
    src: url('Lato-Heavy.eot');
    /* IE9 Compat Modes */
    src: url('Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
    url('Lato-Heavy.woff') format('woff'), /* Modern Browsers */
    url('Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Regular */

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    /* IE9 Compat Modes */
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Bold */

@font-face {
    font-family: 'LatoBold';
    src: url('Lato-Bold.eot');
    /* IE9 Compat Modes */
    src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('Lato-Bold.woff') format('woff'), /* Modern Browsers */
    url('Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaNeue Thin.ttf');
}